body {
    background-color: #b9c4d8;
    color: rgb(7, 18, 56);
}


header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px 40px;
  background-color: #b9c4d8;
}
